:root {
    --rs-color: #b41923;
    --rs-color-blue: #0f161e;
    --rs-max-width: 1300px;
    --rs-article-width: 33.333%;
    --rs-title: #000;
    --rs-red-border-width: 4px;
    --rs-font: 'Graphik';
    --rs-h3-big: 45px;
    --rs-h3-medium: 28px;
    --rs-h3-small: 18px;
    --rs-p-size: 14px;
    --rs-font-weight: 700;
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.music-box {
    font-family: var(--rs-font);
    width: var(--rs-max-width);
    margin: 0 auto;
    overflow: hidden;
}

@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype'),
        url('Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* stile del titolo della sezione */

header {
    border-top: var(--rs-red-border-width) solid var(--rs-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    font-size: var(--rs-h3-big);
    font-weight: bolder;
}

#all-news {
    display: block;
    text-decoration: none;
    color: var(--rs-color);
    padding: 15px 20px;
    font-size: small;
    font-weight: bolder;
}

li {
    float: left;
}

li:last-child {
    float: right;
}

li:last-child a {
    display: block;
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
    padding: 5px 3px;
    border-radius: 5px;
    font-size: smaller;
    margin-top: 5px;
}



/* stile della sezione con gli articoli */
.news-group {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    gap: 5px 5px;
    grid-template-areas:
        "news-preview1 news-preview2 . ."
        "news-preview3 news-preview4 news-preview5 list-box";
    overflow: hidden;
}

.news-img {
    width: 100%;
}

.news-preview1 {
    grid-area: news-preview1;
    padding: 10px 10px;
}

.news-preview2 {
    grid-area: news-preview2;
    padding: 10px 10px;
}

.news-preview3 {
    grid-area: news-preview3;
    padding: 10px 10px;
}

.news-preview4 {
    grid-area: news-preview4;
    padding: 10px 10px;
}

.news-preview5 {
    grid-area: news-preview5;
    padding: 10px 10px;
}

.list-box {
    display: block;
    align-self: center;
    grid-area: list-box;
}

.news-section {
    text-decoration: underline;
    text-decoration-color: var(--rs-color); 
    font-weight: var(--rs-font-weight);
    font-size: smaller;
    margin: 5px 0px;
    color: #000;
    font-family: var(--rs-font);
    
}

.news-title {
    padding: 5px 0px;
    font-size: var(--rs-h3-small);
    font-weight: 700;
    font-family: var(--rs-font);
}

.news-text {
    padding: 5px 0px;
    font-size: var(--rs-p-size);
    font-family: var(--rs-font);
}

.news-author {
    padding: 5px 0px;
    font-size: var(--rs-p-size);
    font-family: var(--rs-font);
}

.album-review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: center;
    background-color: #f4f4f7;
}


.album-review-box1 {}

.album-review-box2 {}

.album-review-box3 {}

.album-review-box4 {}